* {
	padding: 0;
	margin: 0;
}
body {
	font-size: 1em;
	font-family:"Trebuchet MS", Helvetica, sans-serif ;
	background: darkslategray;
}
#menu {
	width: 100%;
	padding: 40px 0px 10px 0px;
	text-align: center;
	background: #007fc7;
	z-index: 2;
	position: sticky;
}
#head {
	padding-bottom: 30px;
	z-index: 2;
}
#blog{
	color: #FFF;
	z-index: 2;
}
#menubuttom {
	position: fixed;
	background: #007fc7;
	width: 100%;
	z-index: 1;	
	text-align: center;
	padding: 10px 0px;
}
.buttom {
	padding: 10px 20px; 
	text-decoration: none; 
	color: black;
}
.main {
	background: slategray;
	padding: 15px;
	margin: 10px 30%;
	position: relative;
	right: 150px;
	max-width: 40%;
	z-index: 0;
	border-radius: 5px;
}
.main img {
	width: 100%;
}
.main p {
	padding: 5px 10px 5px 10px;
}
.title {
	margin: 10px;
}
.title p {
	font-size: 13px;
}
.sidebox {
	font-size: 0.8em;
	position: absolute;
	background: slategray;
	top: 146px;
	left: 60em;
	padding: 20px;
	margin: 0 20px;
	max-width: 16%;
	z-index: 0;
	border-radius: 5px;
}
.sidebox h3 {
	background: darkslategray;
	padding: 10px 70px;
	margin: 0 0 10px 0;
	border-radius: 5px;
}
.sidebox a {
	padding: 10px;
	text-decoration: none;
	color: #001fc7;
	padding: 3px;
}
.sidebox p {
	margin: 7px 0;
}
hr {
	margin-top: 10px;
}
a:hover {
	color: white;
	background: #008fc7;
	height: 7px;
}
footer {
	text-align: center;
	font-weight: bold;
	color: black;
}